<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="9" id="com.yesynergy" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>yesynergy</name>
    <description>
        Curso de ingles online
    </description>
    <author email="info@yesynergy.com" href="http://yesynergy.com">
        Yesynergy
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="NetworkStatus" value="org.apache.cordova.NetworkManager" />
    <engine name="android" spec="~7.1.4" />
    <engine name="ios" spec="~4.5.5" />
</widget>
