<?xml version='1.0' encoding='utf-8'?>
<widget id="com.yesynergy" version="1.0.0" android-versionCode="9" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>yesynergy</name>
    <description>
        Curso de ingles online
    </description>
    <author email="info@yesynergy.com" href="http://yesynergy.com">
        Yesynergy
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
