.pie-pagina{
  background-color: #8a2582;
  height: 10%;
  max-height: 10%;
  width: 100%;
  color: white;
  position: relative;
  text-align: center;
  display: table;
  top: 90%
}
.pie-texto{
  display: table-cell;
  vertical-align: middle;
}

.pie-texto img{
  height: 30%;
  width: auto;
}
