

<div class="row">
  <div class="col"></div>
  <div class="col">
      <a [routerLink]="['/visor', 'audiovisual', nivel, 0, 1]" >
        <img src="assets/img/audiovisual.png" alt="">
      </a>
      <br>
      <a [routerLink]="['/visor', 'grammar', nivel,0, 1]" >
        <img src="assets/img/grammar.png" alt="">
      </a>
      <br>
      <!-- Menu que va a las unidades-->
      <a [routerLink]="['/unidad', 'act', nivel]" >
        <img src="assets/img/actividades.png" alt="">
      </a>
      <br>
      <a [routerLink]="['/visor', 'bonus', nivel, 0, 1]" >
        <img src="assets/img/bonus.png" alt="">
      </a>
  </div>
  <div class="col"></div>
</div>


