<div class="row">
    <div class="col"></div>
    <div class="col">
        <a [routerLink]="['/visor', 'chk', nivel, unidad, actividad]" >
          <img src="assets/img/logo_chk.png" alt="">
        </a>
        <br>
        <a [routerLink]="['/visor', 'hw', nivel, unidad, actividad]" >
          <img src="assets/img/logo_hw.png" alt="">
        </a>
        <br>
        <a [routerLink]="['/visor', 'test', nivel, unidad, actividad]" >
          <img src="assets/img/logo_test.png" alt="">
        </a>
    </div>
    <div class="col"></div>
  </div>
